/* =========== VARIABLES DE COLORES =========== */
:root {
	--color-primario: #ffcb3b;
	--color-secundario: #d63447;
	--color-blanco: #f6eedf;
	--color-negro: #1d1d1d;
	--color-body: #141414;
}
::-webkit-scrollbar {
	width: 10px;
	background: var(--body-color);
}
::-webkit-scrollbar-thumb {
	background: var(--color-secundario);
}
body {
	overflow-x: hidden;
	background-color: var(--color-body);
}
/* ================ CONTENEDOR ================ */
.contenedor {
	margin: 0 2em;
	min-width: 320px;
	padding: 0 2em;
}
/* ================== SECTION ================= */
section {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	padding: 2em 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ================== TITULO ================== */
.titulo {
	font-size: 1.4em;
	color: var(--color-secundario);
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin-top: 3em;
	margin-bottom: 2em;
}
/* ================= SCROLLUP ================= */
.scrollup {
	margin: 0.5em;
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	padding: 0.25em;
	background-color: var(--color-secundario);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.scrollup__img {
	height: 48px;
	width: 48px;
}
/* ==================== TOP =================== */
.top {
	position: absolute;
	z-index: 1;
}
/* ================== HEADER ================== */
.header {
	background-color: var(--color-negro);
	padding: 1.8em 0;
}
.header__img {
	height: 45px;
	fill: var(--color-blanco);
}
/* ==================== NAV =================== */
.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--color-secundario);
	height: 70px;
	padding: 0.5em 2em;
	transition: padding 0.3s ease, box-shadow 0.3s ease;
	-webkit-transition: padding 0.3s ease, box-shadow 0.3s ease;
	-moz-transition: padding 0.3s ease, box-shadow 0.3s ease;
	-ms-transition: padding 0.3s ease, box-shadow 0.3s ease;
	-o-transition: padding 0.3s ease, box-shadow 0.3s ease;
}
.nav.active {
	position: fixed;
	top: 0;
	padding: 0.8em 2em;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}
.nav__menu {
	display: flex;
	align-items: center;
	gap: 1em;
	display: none;
	width: 100%;
}
.nav__menu-img {
	height: 35px;
	width: 35px;
	cursor: pointer;
}
.nav__menu-logo {
	font-size: 1.5em;
	font-weight: 600;
	text-transform: capitalize;
}
.nav__link {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.nav__link-close {
	display: none;
	cursor: pointer;
}
.nav__link-close-img {
	fill: var(--color-blanco);
	height: 35px;
	width: 35px;
}
.nav__link-li {
	margin: 0 1.2em;
}
.nav__link-li-a {
	padding: 0.1em 0;
	color: var(--color-blanco);
	text-transform: capitalize;
	font-weight: 600;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.nav__link-li-a:hover {
	color: var(--color-negro);
}
/* ================== INICIO ================== */
.inicio {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	flex-wrap: wrap;
	position: relative;
}
.inicio__texto {
	color: var(--color-negro);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 3em;
	text-transform: capitalize;
	padding: 2.4em;
	background-color: rgba(255, 255, 255, 0.25);
	text-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
.inicio__texto-titulo {
	font-size: 8em;
	line-height: 1;
	text-align: right;
}
.inicio__texto-descripcion {
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: 500;
	text-align: left;
}
.inicio__wallpaper {
	background-image: url(../images/wallpaper.jpg);
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: 50px;
	position: absolute;
}
/* ================= NOVEDADES ================ */
.novedades {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 4em;
	flex-wrap: wrap;
	color: var(--color-blanco);
}
.novedades__tarjeta {
	display: flex;
	flex-direction: column;
	padding: 1.3em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	height: 400px;
	width: 400px;
	position: relative;
	transition: height 0.3s ease, color 0.3s ease;
	-webkit-transition: height 0.3s ease, color 0.3s ease;
	-moz-transition: height 0.3s ease, color 0.3s ease;
	-ms-transition: height 0.3s ease, color 0.3s ease;
	-o-transition: height 0.3s ease, color 0.3s ease;
	background-color: var(--color-negro);
}
.novedades__tarjeta:hover {
	height: 550px;
}
.novedades__tarjeta.one:hover {
	background-color: var(--color-primario);
}
.novedades__tarjeta.two:hover {
	background-color: var(--color-secundario);
}
.novedades__tarjeta.three:hover {
	background-color: hsl(180, 20%, 50%);
}
.novedades__tarjeta-foto-circulo {
	position: absolute;
	top: 0;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
	height: 230px;
	aspect-ratio: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: var(--color-negro);
	transition-property: background-color, height;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.novedades__tarjeta:hover .novedades__tarjeta-foto-circulo {
	height: 270px;
	background-color: var(--color-body) !important;
}
.novedades__tarjeta.one .novedades__tarjeta-foto-circulo {
	background-color: var(--color-primario);
}
.novedades__tarjeta.two .novedades__tarjeta-foto-circulo {
	background-color: var(--color-secundario);
}
.novedades__tarjeta.three .novedades__tarjeta-foto-circulo {
	background-color: hsl(180, 20%, 50%);
}
.novedades__tarjeta-foto {
	padding: 1em;
	position: absolute;
	top: 90px;
	left: -1px;
	transform: rotate(0deg) scale(0.9);
	-webkit-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-ms-transform: perspective(1000px);
	-o-transform: perspective(1000px);
	transition-property: left, transform;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.novedades__tarjeta:hover .novedades__tarjeta-foto {
	top: 20px;
	left: -12px;
	transform: rotate(-15deg) scale(1.08);
	-webkit-transform: rotate(-15deg) scale(1.08);
	-moz-transform: rotate(-15deg) scale(1.08);
	-ms-transform: rotate(-15deg) scale(1.08);
	-o-transform: rotate(-15deg) scale(1.08);
}
.novedades__tarjeta-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 17em;
	opacity: 0;
	transition: 0.3s ease;
	overflow: hidden;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.novedades__tarjeta:hover .novedades__tarjeta-texto {
	opacity: 1;
}
.novedades__tarjeta-texto-titulo {
	font-size: 2.1em;
	padding-top: 0.5em;
	font-weight: 600;
	text-transform: capitalize;
}
.novedades__tarjeta-texto-talla {
	padding-top: 1em;
}
.novedades__tarjeta-texto-talla-titulo {
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1;
	overflow-y: hidden;
	text-transform: capitalize;
}
.novedades__tarjeta-texto-talla-nums {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	padding-top: 0.5em;
}
.novedades__tarjeta-texto-talla-nums-num {
	width: 38px;
	background-color: var(--color-negro);
	padding: 0.4em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	cursor: pointer;
	transition-property: background-color color;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.novedades__tarjeta-texto-talla-nums-num:hover {
	background-color: var(--color-blanco);
	color: var(--color-negro);
}
.novedades__tarjeta-texto-precio {
	padding-top: 2em;
	font-size: 1.3em;
	display: flex;
	justify-content: start;
	font-weight: 600;
	position: relative;
}
.novedades__tarjeta-texto-precio::after {
	content: '';
	position: absolute;
	bottom: 0.6em;
	left: 0;
	height: 3px;
	width: 5.1em;
	background-color: rgb(255, 0, 0);
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}
.novedades__tarjeta-texto-precio::before {
	position: absolute;
	top: 10px;
	left: 0px;
	color: var(--color-negro);
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
.novedades__tarjeta-texto-precio.one::before {
	content: '50% OFF - Bs. 299.99';
}
.novedades__tarjeta-texto-precio.two::before {
	content: '50% OFF - Bs. 349.99';
}
.novedades__tarjeta-texto-precio.three::before {
	content: '50% OFF - Bs. 449.99';
}
/* ================= CONÓCENOS ================ */
.conocenos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2em;
	color: var(--color-blanco);
}
.conocenos__texto {
	width: 50%;
}
.conocenos__texto-titulo {
	font-size: 1.3em;
	text-transform: capitalize;
	font-weight: 600;
	color: var(--color-secundario);
}
.conocenos__texto-parrafo {
	padding-top: 1em;
	font-size: 1em;
	font-weight: 500;
}
.conocenos__foto {
	background-color: var(--color-negro);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	overflow: hidden;
	width: 500px;
}
.conocenos__foto-img {
	height: 100%;
	width: 100%;
}
/* ================= CONTACTO ================= */
.contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.contacto__texto {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: capitalize;
}
.contacto__texto-subtitle {
	font-size: 1.25rem;
	padding-bottom: 10px;
	color: var(--color-blanco);
	font-weight: 600;
}
.contacto__texto-textalert {
	font-size: 1.25rem;
	padding-bottom: 10px;
	color: var(--color-primario);
	font-weight: 600;
}
.contact__form {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	text-transform: capitalize;
	padding: 2em;
	background-color: var(--color-negro);
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
.contact__form-inputBox {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.contact__form-inputBox input {
	width: 100%;
	padding: 18px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: var(--color-secundario);
	color: var(--color-blanco);
	font-size: 1em;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.contacto__form-inputBox-placeholder {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 10px;
	padding: 18px;
	font-size: 1em;
	font-weight: 600;
	pointer-events: none;
	letter-spacing: 0.07rem;
	transition-property: color, font-weight, transform, letter-spacing, font-size, background-color;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.contact__form-inputBox input:valid ~ .contacto__form-inputBox-placeholder,
.contact__form-inputBox input:focus ~ .contacto__form-inputBox-placeholder,
.contact__form-inputBox textarea:valid ~ .contacto__form-inputBox-placeholder,
.contact__form-inputBox textarea:focus ~ .contacto__form-inputBox-placeholder {
	font-weight: 700;
	top: 0;
	transform: translate(20px, -10px);
	-webkit-transform: translate(20px, -10px);
	-moz-transform: translate(20px, -10px);
	-ms-transform: translate(20px, -10px);
	-o-transform: translate(20px, -10px);
	font-size: 0.9em;
	padding: 0 5px;
	background-color: var(--color-primario);
	color: var(--color-negro);
	letter-spacing: 0.2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.contact__form-inputBox input:valid,
.contact__form-inputBox input:focus,
.contact__form-inputBox textarea:valid,
.contact__form-inputBox textarea:focus {
	border: 1px solid var(--color-secundario);
}
textarea {
	width: 100%;
	height: 180px;
	background: var(--color-secundario);
	padding: 18px;
	font-weight: 600;
	border-radius: 5px;
	color: #fff;
	font-size: 1em;
	outline: none;
	resize: none;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
.contact__form-button {
	display: flex;
	z-index: 1;
}
.contact__form-button-bt {
	position: relative;
	color: #ffffff;
	border: none;
	font-size: 1.3em;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 15px 20px;
	font-weight: 500;
	overflow: hidden;
	cursor: pointer;
	transition-property: background-color, color;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	background-color: var(--color-secundario);
}
.contact__form-button-bt:hover {
	background-color: var(--color-primario);
	color: var(--color-negro);
}
/* =============== PIE DE PAGINA ============== */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	gap: 1em;
	color: var(--color-blanco);
	background-color: var(--color-negro);
	padding: 2em 0;
}
.footer__titulo {
	font-size: 2em;
	text-transform: capitalize;
}
.footer__redsocial-icono {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	margin-bottom: 1em;
	padding: 0 2em;
	gap: 1.3em;
}
.footer__redsocial-icono-link svg {
	height: 33px;
	width: 33px;
}
.footer__redsocial-icono > .footer__redsocial-icono-link {
	fill: var(--color-blanco);
}
.footer__redsocial-icono > .footer__redsocial-icono-link svg {
	transition-property: transform, fill;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.footer__redsocial-icono > .footer__redsocial-icono-link svg:hover {
	transform: scale(1.25) rotate(-5deg);
	-webkit-transform: scale(1.25) rotate(-5deg);
	-moz-transform: scale(1.25) rotate(-5deg);
	-ms-transform: scale(1.25) rotate(-5deg);
	-o-transform: scale(1.25) rotate(-5deg);
}
.footer__redsocial-icono-link .whatsapp:hover {
	fill: #57ff5c;
}
.footer__redsocial-icono-link .instagram:hover {
	fill: #ff55b8;
}
.footer__redsocial-icono-link .telegram:hover {
	fill: #55c3ff;
}
.footer__redsocial-icono-link .linkedin:hover {
	fill: #222469;
}
.footer__redsocial-icono-link .gmail:hover {
	fill: #ff5555;
}
.footer__redsocial-icono-link .paypal:hover {
	fill: #556eff;
}
.footer__credito {
	display: flex;
	font-weight: 500;
	font-size: 1.5em;
	width: 100%;
	padding: 0.8em 1.5em 2em 2em;
}
.footer__credito-made {
	color: var(--color-blanco);
}
.footer__credito-link {
	color: var(--color-secundario);
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.footer__credito-link:hover {
	color: var(--color-primario);
}
@media (max-width: 1210px) {
	.conocenos__texto {
		width: 100%;
	}
	.conocenos__texto-titulo {
		display: flex;
		justify-content: center;
	}
	.conocenos__foto {
		width: 80%;
	}
}
@media (max-width: 534px) {
	.nav {
		justify-content: flex-start;
	}
	.nav__menu {
		display: flex;
		justify-content: space-between;
	}
	.nav__link {
		position: fixed;
		top: 0;
		left: -100vw;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		width: 100%;
		gap: 2em;
		font-size: 1.5em;
		background-color: var(--color-secundario);
		transition: left 0.3s ease;
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		-ms-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
	}
	.nav__link.active {
		left: 0;
	}
	.nav__link.active .nav__link-close {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		margin: 1em;
	}
	.inicio__texto {
		flex-direction: column;
		gap: 0;
	}
	.inicio__texto-titulo {
		text-align: center;
	}
	.inicio__texto-descripcion {
		text-align: center;
	}
	.contenedor {
		margin: 0;
	}
}
@media (max-width: 500px) {
	.inicio__texto {
		padding: 10em 0 0 0;
	}
	.inicio__texto-titulo {
		font-size: 5em;
	}
	.inicio__texto-descripcion {
		font-size: 1.3em;
	}
	.footer__credito {
		flex-direction: column;
		align-items: center;
	}
}
